.basket {
    height: 180px;
    width: 100%;
    padding: 1rem;
    border-radius: 3px;
    display: flex;
    gap: 1rem;
    align-items: center;
    box-sizing: border-box;
}

.basket__grid {
    height: 180px;
    flex: 1;
    padding: 1rem;
    border-radius: 3px;
    display: flex;
    gap: 1rem;
    align-items: center;
    box-sizing: border-box;
}

.basket:hover,
.basket__grid:hover {
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
    border: 2px solid white;
}

.basket > img,
.basket__grid>img {
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.selected__product__info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem;
    box-sizing: border-box;
}

.selected__product__info > div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

small {
    display: flex;
    align-items: center;
    gap: .125rem;
}

.subtotal__buttons {
    display: flex;
    flex-direction: row!important;
    justify-content: space-between;
    align-items: center;
}

.remove__button {
    background-color: #f0c14b;
    border-radius: 2px;
    width: fit-content;
    padding: .25rem .5rem;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;
    box-sizing: border-box;
}

.subtotal__quantity {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtotal__quantity > * {
    height: 28px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #999;
    cursor: none;
    box-sizing: border-box;
}

.subtotal__quantity > small {
    border: none;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

.subtotal__quantity > button {
    cursor: pointer;
    background-color: #999;
    color: white;
}

.subtotal__quantity>button:first-child {
    border-radius: 12.5px 0 0 12.5px;   
    border-right: none;
}

.subtotal__quantity>button:last-child {
    border-radius: 0 12.5px 12.5px 0;
    border-left: none;
}

